Things to try to increase performance: 
-even more data
-models for different genres
-topic model
-ridge regression, lasso regression
-bi grams, n grams
-sentiment analysis

In [321]:
import pandas as pd
from textblob import TextBlob
from textblob import Word
from gensim import corpora, models, similarities
import os
import tempfile
import gensim
from sklearn.linear_model import LinearRegression
import math
import numpy as np
import xgboost as xgb
from sklearn.linear_model import Lasso
from sklearn.linear_model import LassoCV

TEMP_FOLDER = tempfile.gettempdir()

In [106]:
links = pd.read_csv('/Users/scottgleave/Downloads/DataMiningCourse/finalprojectdata/links2.csv', header = None)
text = pd.read_csv('/Users/scottgleave/Downloads/DataMiningCourse/finalprojectdata/reviewtext.csv', header = None)

In [107]:
links2 = pd.read_csv('/Users/scottgleave/Downloads/DataMiningCourse/finalprojectdata/links3.csv', header = None)
text2 = pd.read_csv('/Users/scottgleave/Downloads/DataMiningCourse/finalprojectdata/reviewtext2.csv', header = None)

In [108]:
#prep 2nd set of data, which has lots of links that didn't work

links2[5] = text2
links2.drop_duplicates([5], inplace = True)
links2 = links2[links2[5] != '[]']
links2 = links2[links2[5] != '[]']
links2.dropna(subset = [5],inplace = True)

In [109]:
links[5] = text

In [110]:
links.drop_duplicates([5], inplace = True)

In [111]:
links = pd.concat([links,links2], axis = 0)
links = links.reset_index()
links = links.drop('index', axis = 1)

In [112]:
links.shape

(2903, 6)

In [273]:
#how many of each genre
links.head()
links[3].groupby([3]).count()

                          0    1    2    4    5
3
Action                  511  511  511  511  511
Action, Adventure       122  122  122  122  122
Action, Compilation      18   18   18   18   18
Action, Platformer        2    2    2    2    2
Action, Puzzle            1    1    1    1    1
Action, RPG              81   81   81   81   81
Action, Simulation        4    4    4    4    4
Action, Strategy          1    1    1    1    1
Adventure               324  324  324  324  324
Adventure, Action         1    1    1    1    1
Adventure, Adult          1    1    1    1    1
Adventure, Adventure      2    2    2    2    2
Adventure, Compilation    5    5    5    5    5
Adventure, Episodic       1    1    1    1    1
Adventure, Platformer     1    1    1    1    1
Adventure, RPG            2    2    2    2    2
Baseball                  1    1    1    1    1
Battle                    5    5    5    5    5
Board                    12   12   12   12   12
Card                      7    7    7    7    7
Card, Battle             14   14   14   14   14
Compilation               5    5    5    5    5
Compilation, RPG          2    2    2    2    2
Educational               1    1    1    1    1
Educational, Puzzle       2    2    2    2    2
Fighting                 83   83   83   83   83
Fighting, Action          9    9    9    9    9
Fighting, Compilation     1    1    1    1    1
Fighting, Simulation      1    1    1    1    1
Flight                    7    7    7    7    7
...                     ...  ...  ...  ...  ...
Puzzle, Platformer        1    1    1    1    1
Puzzle, RPG               1    1    1    1    1
Puzzle, Word Game         2    2    2    2    2
RPG                     285  285  285  285  285
RPG, Action               1    1    1    1    1
RPG, Simulation           3    3    3    3    3
RPG, Strategy             1    1    1    1    1
Racing                   77   77   77   77   77
Racing, Action           25   25   25   25   25
Shooter                 315  315  315  315  315
Shooter, Adventure        1    1    1    1    1
Shooter, First-Person     1    1    1    1    1
Shooter, RPG             11   11   11   11   11
Simulation               92   92   92   92   92
Simulation, Adventure     2    2    2    2    2
Sports                  139  139  139  139  139
Sports, Action            8    8    8    8    8
Sports, Baseball          2    2    2    2    2
Sports, Compilation       1    1    1    1    1
Sports, Fighting          1    1    1    1    1
Sports, Other             1    1    1    1    1
Sports, Party             1    1    1    1    1
Sports, RPG               1    1    1    1    1
Sports, Simulation        9    9    9    9    9
Strategy                177  177  177  177  177
Strategy, RPG            19   19   19   19   19
Strategy, Simulation      1    1    1    1    1
Trivia                    6    6    6    6    6
Virtual Pet               4    4    4    4    4
Wrestling                11   11   11   11   11

[83 rows x 5 columns]

In [113]:
text = links[5]
text.shape

(2903,)

In [114]:
#lowercase text
text = text.apply(lambda x: " ".join(x.lower() for x in x.split()))
text.head()

0    ["with all of the development muscle behind ea...
1    ['when i first reviewed civilization vi back i...
2    [' ', 'there aren’t many games that make me fe...
3    ['overkill’s ', ' is an earnest attempt to del...
4    ["it's often with rose-colored glasses that i ...
Name: 5, dtype: object

In [115]:
#remove brackets
text = text.apply(lambda x: x[1:-1])
text.head()

0    "with all of the development muscle behind ea ...
1    'when i first reviewed civilization vi back in...
2    ' ', 'there aren’t many games that make me fee...
3    'overkill’s ', ' is an earnest attempt to deli...
4    "it's often with rose-colored glasses that i l...
Name: 5, dtype: object

In [116]:
#remove new line
text = text.replace(r'\\n','', regex=True)
text.head()

0    "with all of the development muscle behind ea ...
1    'when i first reviewed civilization vi back in...
2    ' ', 'there aren’t many games that make me fee...
3    'overkill’s ', ' is an earnest attempt to deli...
4    "it's often with rose-colored glasses that i l...
Name: 5, dtype: object

In [117]:
#remove punc
text = text.str.replace('[^\w\s]','')
text.head()

0    with all of the development muscle behind ea d...
1    when i first reviewed civilization vi back in ...
2      there arent many games that make me feel as ...
3    overkills   is an earnest attempt to deliver a...
4    its often with rosecolored glasses that i look...
Name: 5, dtype: object

In [118]:
#remove stop words
from nltk.corpus import stopwords
stop = stopwords.words('english')
text = text.apply(lambda x: " ".join(x for x in x.split() if x not in stop))
text.head()

0    development muscle behind ea dices massive sho...
1    first reviewed civilization vi back 2016 award...
2    arent many games make feel cool warframe im bu...
3    overkills earnest attempt deliver cooperative ...
4    often rosecolored glasses look back pokemons k...
Name: 5, dtype: object

In [119]:
freq = pd.Series(' '.join(text[0]).split()).value_counts()[-5:]
#remove uncommon words
freq = list(freq.index)
text = text.apply(lambda x: " ".join(x for x in x.split() if x not in freq))
text.head()

0    development muscle behind ea dices massive sho...
1    first reviewed civilization vi back 2016 award...
2    arent many games make feel cool warframe im bu...
3    overkills earnest attempt deliver cooperative ...
4    often rosecolored glasses look back pokemons k...
Name: 5, dtype: object

In [120]:
###remove common words###
freq = pd.Series(' '.join(text[0]).split()).value_counts()[:10]
freq = list(freq.index)
text = text.apply(lambda x: " ".join(x for x in x.split() if x not in freq))
#Visualize
text.head()

0    development muscle behind ea dices massive sho...
1    first reviewed civilization vi back 2016 award...
2    arent many games make feel cool warframe im bu...
3    overkills earnest attempt deliver cooperative ...
4    often rosecolored glasses look back pokemons k...
Name: 5, dtype: object

In [121]:
###Spelling correction###

text[:5].apply(lambda x: str(TextBlob(x).correct()))

###Tokenization (dividing the text into a sequence of words or sentences)###
TextBlob(text[0][1]).words

#Stemming (removal of suffices, like “ing”, “ly”, “s”, etc. by a simple rule-based approach)
#from nltk.stem import PorterStemmer
#st = PorterStemmer()
#train['text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

#Lemmatization (more effective option than stemming because 
# converts the word into its root word, rather than just stripping the suffices)
#*Preferred to stemming*#


text = text.apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
text.head()

0    development muscle behind ea dice massive shoo...
1    first reviewed civilization vi back 2016 award...
2    arent many game make feel cool warframe im bul...
3    overkill earnest attempt deliver cooperative a...
4    often rosecolored glass look back pokemons kan...
Name: 5, dtype: object

In [122]:
text = text.to_frame()
text['score'] = links[1]

In [123]:
text.head()

                                                   5  score
0  development muscle behind ea dice massive shoo...    7.5
1  first reviewed civilization vi back 2016 award...    9.4
2  arent many game make feel cool warframe im bul...    8.6
3  overkill earnest attempt deliver cooperative a...    5.3
4  often rosecolored glass look back pokemons kan...    8.3

In [295]:
#train val split

trainval = text.sample(800)
train = text.loc[~text.index.isin(trainval.index), :]
y = train['score']
valy = trainval['score']
trainval.drop(['score'], axis = 1, inplace = True)
train.drop(['score'], axis = 1, inplace = True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [296]:
#for train values
textlist = train.values.tolist()

In [297]:
textlist = [str(word) for word in textlist]

In [298]:
texts = [[word for word in document.lower().split() ]
         for document in textlist]

In [299]:
dictionary = corpora.Dictionary(texts)
dictionary.filter_extremes(no_below=5, no_above=0.6, keep_n=35000)

In [300]:
dictionary.save(os.path.join(TEMP_FOLDER, 'igntfidf.dict'))

In [301]:
corpus = [dictionary.doc2bow(text) for text in texts]
corpora.MmCorpus.serialize(os.path.join(TEMP_FOLDER, 'igntfidf.mm'), corpus)  # store to disk, for later use

In [302]:
tfidf = models.TfidfModel(corpus)

In [303]:
corpus_tfidf = tfidf[corpus]

In [304]:
all_topics_csr = gensim.matutils.corpus2csc(corpus_tfidf)

In [305]:
all_topics_csr.shape

(13273, 2103)

In [306]:
all_topics_numpy = all_topics_csr.T.toarray()

In [307]:
all_topics_numpy

array([[0.04044892, 0.01415159, 0.04403912, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [308]:
#validation array
vallist = trainval.values.tolist()
vallist = [str(word) for word in vallist]
valtexts = [[word for word in document.lower().split() ]
         for document in vallist]
valcorpus = [dictionary.doc2bow(valtext) for valtext in valtexts]
testcorpus_tfidf = tfidf[valcorpus]
all_topics_csr2 = gensim.matutils.corpus2csc(testcorpus_tfidf)
all_topics_numpytest = all_topics_csr2.T.toarray()

In [309]:
all_topics_numpytest

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.07166795, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [310]:
print(all_topics_numpytest.shape)
print(all_topics_numpy.shape)

(800, 13273)
(2103, 13273)

## XGBoost

In [340]:
yarray = y.values
xgbreg = xgb.XGBRegressor()
xgbreg.fit(all_topics_numpy,yarray)

predictions2 = xgbreg.predict(all_topics_numpytest)
predictionsdf2 = pd.DataFrame(predictions2)
valy = valy.reset_index()
valy.drop(['index'], axis = 1, inplace = True)
predictionsdf2['true'] = valy
predictionsdf2['diff'] = predictionsdf2['true'] - predictionsdf2[0]
predictionsdf2['diff'] = predictionsdf2['true'] - predictionsdf2[0]
predictionsdf2['diff'] = predictionsdf2['diff']**2
diff = predictionsdf2['diff'].values
diff = np.mean(diff)
diff = math.sqrt(diff)
diff

1.0728785941278771

## Lasso Regression

In [338]:
#find best alpha for lasso regression

alphas = [1e-15, 1e-10, 1e-8, 1e-5,1e-4, 1e-3,1e-2, 1, 5, 10]
alphas2 = [1e-5,1.5e-5,1e-4, 1.5e-4,1e-3]
def runlasso(alpha):
    global valy
    yarray = y.values
    lasso = Lasso(alpha = alpha, max_iter=1e5)
    lasso.fit(all_topics_numpy,yarray)

    predictions3 = lasso.predict(all_topics_numpytest)
    predictionsdf3 = pd.DataFrame(predictions3)
    valy = valy.reset_index()
    valy.drop(['index'], axis = 1, inplace = True)
    predictionsdf3['true'] = valy
    predictionsdf3['diff'] = predictionsdf3['true'] - predictionsdf3[0]
    predictionsdf3['diff'] = predictionsdf3['true'] - predictionsdf3[0]
    predictionsdf3['diff'] = predictionsdf3['diff']**2
    diff = predictionsdf3['diff'].values
    diff = np.mean(diff)
    diff = math.sqrt(diff)
    return diff
    
test = [runlasso(x) for x in alphas2]
print(test)

[1.1252147868577373, 1.1126873118616674, 1.0177467770085127, 0.9907478349117224, 1.1576718275231785]

In [339]:
yarray = y.values
lasso = Lasso(alpha = 1.5e-4, max_iter=1e5)
lasso.fit(all_topics_numpy,yarray)

predictions3 = lasso.predict(all_topics_numpytest)
predictionsdf3 = pd.DataFrame(predictions3)
valy = valy.reset_index()
valy.drop(['index'], axis = 1, inplace = True)
predictionsdf3['true'] = valy
predictionsdf3['diff'] = predictionsdf3['true'] - predictionsdf3[0]
predictionsdf3['diff'] = predictionsdf3['true'] - predictionsdf3[0]
predictionsdf3['diff'] = predictionsdf3['diff']**2
diff = predictionsdf3['diff'].values
diff = np.mean(diff)
diff = math.sqrt(diff)
diff

0.9907478349117224

## OLS

In [327]:
yarray = y.values
lm = LinearRegression()
lm.fit(all_topics_numpy,yarray)
predictions = lm.predict(all_topics_numpytest)
predictionsdf = pd.DataFrame(predictions)

In [328]:
predictionsdf.describe()

                0
count  800.000000
mean     7.257459
std      1.230349
min      1.965389
25%      6.399265
50%      7.289813
75%      8.135253
max     10.575431

In [329]:
valy = valy.reset_index()
valy

     index  score
0        0    7.7
1        1    8.0
2        2    9.0
3        3    7.8
4        4    9.0
5        5    6.4
6        6    7.9
7        7    9.2
8        8    7.0
9        9    7.0
10      10    4.5
11      11    5.0
12      12    5.0
13      13    7.8
14      14    4.5
15      15    6.8
16      16    5.5
17      17    5.2
18      18    4.4
19      19    6.5
20      20    4.0
21      21    7.8
22      22    9.0
23      23    9.0
24      24    9.0
25      25    5.5
26      26    6.2
27      27    5.0
28      28    7.9
29      29    7.5
..     ...    ...
770    770    7.0
771    771    7.5
772    772    7.5
773    773    7.9
774    774    8.5
775    775    6.0
776    776    7.0
777    777    7.6
778    778    8.0
779    779    6.2
780    780    7.9
781    781    7.5
782    782    4.5
783    783    9.0
784    784    5.5
785    785    8.9
786    786    5.9
787    787    9.5
788    788    7.5
789    789    8.6
790    790    9.0
791    791    6.2
792    792    7.9
793    793    4.0
794    794    9.5
795    795    6.8
796    796    5.0
797    797    7.3
798    798    8.5
799    799    4.0

[800 rows x 2 columns]

In [330]:
valy.drop(['index'], axis = 1, inplace = True)
valy

     score
0      7.7
1      8.0
2      9.0
3      7.8
4      9.0
5      6.4
6      7.9
7      9.2
8      7.0
9      7.0
10     4.5
11     5.0
12     5.0
13     7.8
14     4.5
15     6.8
16     5.5
17     5.2
18     4.4
19     6.5
20     4.0
21     7.8
22     9.0
23     9.0
24     9.0
25     5.5
26     6.2
27     5.0
28     7.9
29     7.5
..     ...
770    7.0
771    7.5
772    7.5
773    7.9
774    8.5
775    6.0
776    7.0
777    7.6
778    8.0
779    6.2
780    7.9
781    7.5
782    4.5
783    9.0
784    5.5
785    8.9
786    5.9
787    9.5
788    7.5
789    8.6
790    9.0
791    6.2
792    7.9
793    4.0
794    9.5
795    6.8
796    5.0
797    7.3
798    8.5
799    4.0

[800 rows x 1 columns]

In [331]:
predictionsdf['true'] = valy
predictionsdf

            0  true
0    7.608641   7.7
1    8.287071   8.0
2    8.508838   9.0
3    8.017991   7.8
4    7.571709   9.0
5    6.604391   6.4
6    8.054136   7.9
7    8.822618   9.2
8    7.870244   7.0
9    6.725158   7.0
10   7.063267   4.5
11   4.930323   5.0
12   4.717163   5.0
13   7.567988   7.8
14   5.633626   4.5
15   6.734576   6.8
16   4.991649   5.5
17   5.570476   5.2
18   5.103045   4.4
19   7.998958   6.5
20   4.783895   4.0
21   7.192365   7.8
22   8.728114   9.0
23   7.365945   9.0
24   8.006228   9.0
25   5.775085   5.5
26   6.580412   6.2
27   5.517934   5.0
28   7.886341   7.9
29   7.288258   7.5
..        ...   ...
770  5.782085   7.0
771  6.608343   7.5
772  6.631957   7.5
773  6.382829   7.9
774  8.619479   8.5
775  5.697220   6.0
776  8.148058   7.0
777  7.998389   7.6
778  7.572326   8.0
779  5.319965   6.2
780  8.710460   7.9
781  7.197390   7.5
782  4.576642   4.5
783  8.234155   9.0
784  5.977359   5.5
785  8.256606   8.9
786  4.821641   5.9
787  9.943136   9.5
788  6.759012   7.5
789  7.974971   8.6
790  8.951050   9.0
791  5.786185   6.2
792  7.786782   7.9
793  6.272560   4.0
794  8.896146   9.5
795  5.603004   6.8
796  5.455942   5.0
797  8.865186   7.3
798  9.275379   8.5
799  6.154992   4.0

[800 rows x 2 columns]

In [332]:
predictionsdf['diff'] = predictionsdf['true'] - predictionsdf[0]
predictionsdf

            0  true      diff
0    7.608641   7.7  0.091359
1    8.287071   8.0 -0.287071
2    8.508838   9.0  0.491162
3    8.017991   7.8 -0.217991
4    7.571709   9.0  1.428291
5    6.604391   6.4 -0.204391
6    8.054136   7.9 -0.154136
7    8.822618   9.2  0.377382
8    7.870244   7.0 -0.870244
9    6.725158   7.0  0.274842
10   7.063267   4.5 -2.563267
11   4.930323   5.0  0.069677
12   4.717163   5.0  0.282837
13   7.567988   7.8  0.232012
14   5.633626   4.5 -1.133626
15   6.734576   6.8  0.065424
16   4.991649   5.5  0.508351
17   5.570476   5.2 -0.370476
18   5.103045   4.4 -0.703045
19   7.998958   6.5 -1.498958
20   4.783895   4.0 -0.783895
21   7.192365   7.8  0.607635
22   8.728114   9.0  0.271886
23   7.365945   9.0  1.634055
24   8.006228   9.0  0.993772
25   5.775085   5.5 -0.275085
26   6.580412   6.2 -0.380412
27   5.517934   5.0 -0.517934
28   7.886341   7.9  0.013659
29   7.288258   7.5  0.211742
..        ...   ...       ...
770  5.782085   7.0  1.217915
771  6.608343   7.5  0.891657
772  6.631957   7.5  0.868043
773  6.382829   7.9  1.517171
774  8.619479   8.5 -0.119479
775  5.697220   6.0  0.302780
776  8.148058   7.0 -1.148058
777  7.998389   7.6 -0.398389
778  7.572326   8.0  0.427674
779  5.319965   6.2  0.880035
780  8.710460   7.9 -0.810460
781  7.197390   7.5  0.302610
782  4.576642   4.5 -0.076642
783  8.234155   9.0  0.765845
784  5.977359   5.5 -0.477359
785  8.256606   8.9  0.643394
786  4.821641   5.9  1.078359
787  9.943136   9.5 -0.443136
788  6.759012   7.5  0.740988
789  7.974971   8.6  0.625029
790  8.951050   9.0  0.048950
791  5.786185   6.2  0.413815
792  7.786782   7.9  0.113218
793  6.272560   4.0 -2.272560
794  8.896146   9.5  0.603854
795  5.603004   6.8  1.196996
796  5.455942   5.0 -0.455942
797  8.865186   7.3 -1.565186
798  9.275379   8.5 -0.775379
799  6.154992   4.0 -2.154992

[800 rows x 3 columns]

In [333]:
#let's also plot histogram of scores

In [334]:
#residual plot here

In [335]:
#RMSE
predictionsdf['diff'] = predictionsdf['true'] - predictionsdf[0]
predictionsdf['diff'] = predictionsdf['diff']**2
diff = predictionsdf['diff'].values
diff = np.mean(diff)
diff = math.sqrt(diff)
diff

#diff = predictionsdf['diff'].values.tolist()
#diff = math.sqrt(np.mean(diff**2))
#diff

1.0528095780414812

In [292]:
arravg = np.mean(yarray)
predictionsdf['avg'] = arravg
predictionsdf['avgdiff'] = predictionsdf['avg'] - predictionsdf['true']
predictionsdf['avgdiff'] = predictionsdf['avgdiff']**2
avgdiff = predictionsdf['avgdiff'].values
avgdiff = np.mean(avgdiff)
avgdiff = math.sqrt(avgdiff)
avgdiff

nan