In [55]:
import pandas as pd
from textblob import TextBlob
from textblob import Word
from gensim import corpora, models, similarities
import os
import tempfile
import gensim
from sklearn.linear_model import LinearRegression
import math
import numpy as np

TEMP_FOLDER = tempfile.gettempdir()

In [56]:
links = pd.read_csv('/Users/scottgleave/Downloads/DataMiningCourse/finalprojectdata/links2.csv', header = None)
text = pd.read_csv('/Users/scottgleave/Downloads/DataMiningCourse/finalprojectdata/reviewtext.csv', header = None)

In [57]:
links2 = pd.read_csv('/Users/scottgleave/Downloads/DataMiningCourse/finalprojectdata/links3.csv', header = None)
text2 = pd.read_csv('/Users/scottgleave/Downloads/DataMiningCourse/finalprojectdata/reviewtext2.csv', header = None)

In [58]:
#prep 2nd set of data, which has lots of links that didn't work

links2[5] = text2
links2.drop_duplicates([5], inplace = True)
links2 = links2[links2[5] != '[]']
links2 = links2[links2[5] != '[]']
links2.dropna(subset = [5],inplace = True)

In [59]:
links[5] = text

In [60]:
links.drop_duplicates([5], inplace = True)

In [61]:
links.shape

(1618, 6)

In [62]:
text = links[5]
text.shape

(1618,)

In [63]:
#lowercase text
text = text.apply(lambda x: " ".join(x.lower() for x in x.split()))
text.head()

0    ["with all of the development muscle behind ea...
1    ['when i first reviewed civilization vi back i...
2    [' ', 'there aren’t many games that make me fe...
5    ['overkill’s ', ' is an earnest attempt to del...
6    ["it's often with rose-colored glasses that i ...
Name: 5, dtype: object

In [64]:
#remove brackets
text = text.apply(lambda x: x[1:-1])
text.head()

0    "with all of the development muscle behind ea ...
1    'when i first reviewed civilization vi back in...
2    ' ', 'there aren’t many games that make me fee...
5    'overkill’s ', ' is an earnest attempt to deli...
6    "it's often with rose-colored glasses that i l...
Name: 5, dtype: object

In [65]:
#remove new line
text = text.replace(r'\\n','', regex=True)
text.head()

0    "with all of the development muscle behind ea ...
1    'when i first reviewed civilization vi back in...
2    ' ', 'there aren’t many games that make me fee...
5    'overkill’s ', ' is an earnest attempt to deli...
6    "it's often with rose-colored glasses that i l...
Name: 5, dtype: object

In [66]:
#remove punc
text = text.str.replace('[^\w\s]','')
text.head()

0    with all of the development muscle behind ea d...
1    when i first reviewed civilization vi back in ...
2      there arent many games that make me feel as ...
5    overkills   is an earnest attempt to deliver a...
6    its often with rosecolored glasses that i look...
Name: 5, dtype: object

In [67]:
#remove stop words
from nltk.corpus import stopwords
stop = stopwords.words('english')
text = text.apply(lambda x: " ".join(x for x in x.split() if x not in stop))
text.head()

0    development muscle behind ea dices massive sho...
1    first reviewed civilization vi back 2016 award...
2    arent many games make feel cool warframe im bu...
5    overkills earnest attempt deliver cooperative ...
6    often rosecolored glasses look back pokemons k...
Name: 5, dtype: object

In [68]:
freq = pd.Series(' '.join(text[0]).split()).value_counts()[-5:]
#remove uncommon words
freq = list(freq.index)
text = text.apply(lambda x: " ".join(x for x in x.split() if x not in freq))
text.head()

0    development muscle behind ea dices massive sho...
1    first reviewed civilization vi back 2016 award...
2    arent many games make feel cool warframe im bu...
5    overkills earnest attempt deliver cooperative ...
6    often rosecolored glasses look back pokemons k...
Name: 5, dtype: object

In [69]:
###remove common words###
freq = pd.Series(' '.join(text[0]).split()).value_counts()[:10]
freq = list(freq.index)
text = text.apply(lambda x: " ".join(x for x in x.split() if x not in freq))
#Visualize
text.head()

0    development muscle behind ea dices massive sho...
1    first reviewed civilization vi back 2016 award...
2    arent many games make feel cool warframe im bu...
5    overkills earnest attempt deliver cooperative ...
6    often rosecolored glasses look back pokemons k...
Name: 5, dtype: object

In [70]:
text

0       development muscle behind ea dices massive sho...
1       first reviewed civilization vi back 2016 award...
2       arent many games make feel cool warframe im bu...
5       overkills earnest attempt deliver cooperative ...
6       often rosecolored glasses look back pokemons k...
8       toys bob spyro dragon skylanders developer rek...
10      often singleplayer campaign primarily multipla...
11      may played many versions tetris youve probably...
12      keep typical sequel expectations check probabl...
15      déracinéxa0is haunting play invisible ghostlik...
16      whereas normally review would try get heart ma...
17      something reversal usual result games use live...
18      doesnt take long dark intriguing detective sto...
19      every sixyearold game feel fresh modern new pl...
20      sprawling western tale loyalty conviction pric...
22      first postgame dlc episode marvels spiderman h...
23      hero academia one best shonen anime currently ...
24      something comes along thoroughly exceeds expec...
25      almost nothing moves obra dinn still one livel...
27      call duty black ops flung series thrustjumping...
30      feels like trying crash party thats already pa...
33      developer treyarch touted call duty black ops ...
36      monumental highs victory crushing lows narrowl...
39      lengthy delay finally arrived nintendo switch ...
40      beautiful brutal frequently bizarre sidescroll...
44      playing couldnt help make comparisons 2016s su...
48      great tabletop campaign requires special under...
49      sixyear absence 3d fighting scene soulcalibur ...
51      solid job making 2v2 arcade basketball fun lon...
52      everyone whos played enough dark souls series ...
                              ...
2481    superhero even crimefighting turtle definitely...
2482    idiom honor among thieves put test whats mine ...
2484    difficult pinpoint exact moment gamelofts newe...
2485    sequel dillons rolling western last ranger mak...
2486    clearly high aspirations deliver similar exper...
2487    simulations lot fun anyone looking take charge...
2488    tyranny king washingtons premise one interesti...
2489    welcome hades intones narrator thats hell toga...
2494    deceptively adorable scuttling googlyeyed prot...
2495    tempting simply paste call day sequel 2011s fi...
2498    incredible thing makes care characters nothing...
2500    human hand capable acts compassion hate case 2...
2501    admit little worried hubbub surrounding star w...
2502    moment first log puts mindset starhopping bada...
2503    playing microsoft game studios transported hap...
2504    precious games something say never mind someth...
2505    knife dunwall first piece storybased dlc relea...
2507    moments competitive firstperson shooter feel g...
2508    didnt hate dozens hours spent shooting generic...
2509    didnt hate dozens hours spent shooting generic...
2511    didnt hate dozens hours spent shooting generic...
2512    black adam streaks towards earth wreathed gold...
2513    fans shin megami tensei series likely find som...
2515    theres science getting people point point b ta...
2516    ive always appreciated atelier roleplaying ser...
2517    beauty ongoing digitaldistribution revolution ...
2519    finally arrived wii u eshop fans adorable sett...
2520    imagine minecraft might like made pixel art sp...
2521    behemoths 2d platformer battleblock theater fi...
2523    tiger woods pga tour stands among annual sport...
Name: 5, Length: 1618, dtype: object

In [71]:
###Spelling correction###

text[:5].apply(lambda x: str(TextBlob(x).correct()))

###Tokenization (dividing the text into a sequence of words or sentences)###
TextBlob(text[0][1]).words

#Stemming (removal of suffices, like “ing”, “ly”, “s”, etc. by a simple rule-based approach)
#from nltk.stem import PorterStemmer
#st = PorterStemmer()
#train['text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

#Lemmatization (more effective option than stemming because 
# converts the word into its root word, rather than just stripping the suffices)
#*Preferred to stemming*#


text = text.apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
text.head()

0    development muscle behind ea dice massive shoo...
1    first reviewed civilization vi back 2016 award...
2    arent many game make feel cool warframe im bul...
5    overkill earnest attempt deliver cooperative a...
6    often rosecolored glass look back pokemons kan...
Name: 5, dtype: object

In [72]:
text = text.to_frame()
text['score'] = links[1]

In [73]:
text.head()

                                                   5  score
0  development muscle behind ea dice massive shoo...    7.5
1  first reviewed civilization vi back 2016 award...    9.4
2  arent many game make feel cool warframe im bul...    8.6
5  overkill earnest attempt deliver cooperative a...    5.3
6  often rosecolored glass look back pokemons kan...    8.3

In [74]:
#train val split

trainval = text.sample(400)
train = text.loc[~text.index.isin(trainval.index), :]
y = train['score']
valy = trainval['score']
trainval.drop(['score'], axis = 1, inplace = True)
train.drop(['score'], axis = 1, inplace = True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [75]:
#for train values
textlist = train.values.tolist()

In [76]:
textlist = [str(word) for word in textlist]

In [77]:
texts = [[word for word in document.lower().split() ]
         for document in textlist]

In [78]:
dictionary = corpora.Dictionary(texts)
dictionary.filter_extremes(no_below=5, no_above=0.6, keep_n=35000)

In [79]:
dictionary.save(os.path.join(TEMP_FOLDER, 'igntfidf.dict'))

In [80]:
corpus = [dictionary.doc2bow(text) for text in texts]
corpora.MmCorpus.serialize(os.path.join(TEMP_FOLDER, 'igntfidf.mm'), corpus)  # store to disk, for later use

In [81]:
tfidf = models.TfidfModel(corpus)

In [82]:
corpus_tfidf = tfidf[corpus]

In [83]:
all_topics_csr = gensim.matutils.corpus2csc(corpus_tfidf)

In [84]:
all_topics_csr.shape

(10544, 1218)

In [85]:
all_topics_numpy = all_topics_csr.T.toarray()

In [86]:
all_topics_numpy

array([[0.04099152, 0.01697067, 0.04671337, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [87]:
#validation array
vallist = trainval.values.tolist()
vallist = [str(word) for word in vallist]
valtexts = [[word for word in document.lower().split() ]
         for document in vallist]
valcorpus = [dictionary.doc2bow(valtext) for valtext in valtexts]
testcorpus_tfidf = tfidf[valcorpus]
all_topics_csr2 = gensim.matutils.corpus2csc(testcorpus_tfidf)
all_topics_numpytest = all_topics_csr2.T.toarray()

In [88]:
yarray = y.values
lm = LinearRegression()
lm.fit(all_topics_numpy,yarray)
predictions = lm.predict(all_topics_numpytest)
predictionsdf = pd.DataFrame(predictions)

In [89]:
predictionsdf.describe()

                0
count  400.000000
mean     7.554720
std      0.903092
min      4.854488
25%      7.000564
50%      7.588440
75%      8.213230
max      9.584998

In [90]:
valy = valy.reset_index()
valy

     index  score
0      381    8.0
1     1761    6.3
2     1566    8.2
3     2056    9.0
4      185    8.0
5     2297    6.7
6      316    7.8
7     1394    7.0
8      209    4.0
9     1927    6.6
10    2067    5.9
11     950    5.5
12    1018    8.3
13     628    6.8
14    2401    5.3
15     821    7.0
16     343    6.5
17     586    6.3
18     912    6.5
19    2328    7.0
20     673    8.0
21     931    7.1
22      10    7.3
23    1414    7.8
24    2228    6.7
25     827    7.8
26    1808    4.5
27    1688    4.9
28     131    8.0
29    1843    8.7
..     ...    ...
370   1053    7.0
371   2163    6.0
372   1793    8.6
373   1535    8.0
374    221    3.0
375    165    7.8
376   1714    6.0
377    612    8.0
378   1786    6.9
379   1086    9.3
380    349    9.0
381   1001    8.0
382    181    8.5
383    135    9.5
384    559    9.0
385   1645    7.8
386   1664    6.0
387    687    9.6
388   2109    5.9
389   2293    4.3
390   1999    4.8
391   1870    3.0
392    785    3.5
393   1926    7.0
394    498    6.8
395   2247    8.5
396   1432    7.4
397   1138    8.7
398    648    8.3
399   1397    4.5

[400 rows x 2 columns]

In [91]:
valy.drop(['index'], axis = 1, inplace = True)
valy

     score
0      8.0
1      6.3
2      8.2
3      9.0
4      8.0
5      6.7
6      7.8
7      7.0
8      4.0
9      6.6
10     5.9
11     5.5
12     8.3
13     6.8
14     5.3
15     7.0
16     6.5
17     6.3
18     6.5
19     7.0
20     8.0
21     7.1
22     7.3
23     7.8
24     6.7
25     7.8
26     4.5
27     4.9
28     8.0
29     8.7
..     ...
370    7.0
371    6.0
372    8.6
373    8.0
374    3.0
375    7.8
376    6.0
377    8.0
378    6.9
379    9.3
380    9.0
381    8.0
382    8.5
383    9.5
384    9.0
385    7.8
386    6.0
387    9.6
388    5.9
389    4.3
390    4.8
391    3.0
392    3.5
393    7.0
394    6.8
395    8.5
396    7.4
397    8.7
398    8.3
399    4.5

[400 rows x 1 columns]

In [92]:
predictionsdf['true'] = valy
predictionsdf

            0  true
0    7.748667   8.0
1    7.595313   6.3
2    6.933918   8.2
3    7.731422   9.0
4    8.361031   8.0
5    7.752362   6.7
6    6.362238   7.8
7    7.576976   7.0
8    5.734731   4.0
9    6.545367   6.6
10   7.293153   5.9
11   7.558671   5.5
12   8.296698   8.3
13   6.372074   6.8
14   6.184670   5.3
15   8.112843   7.0
16   6.585109   6.5
17   8.378447   6.3
18   7.338217   6.5
19   7.334435   7.0
20   8.069263   8.0
21   6.188568   7.1
22   7.055187   7.3
23   7.719147   7.8
24   6.950481   6.7
25   8.001224   7.8
26   6.627136   4.5
27   4.858600   4.9
28   7.065899   8.0
29   7.955424   8.7
..        ...   ...
370  7.947733   7.0
371  7.324934   6.0
372  7.363245   8.6
373  8.159130   8.0
374  5.453655   3.0
375  8.383873   7.8
376  6.328043   6.0
377  8.011680   8.0
378  8.143599   6.9
379  8.166933   9.3
380  7.163102   9.0
381  7.642081   8.0
382  7.747969   8.5
383  8.337423   9.5
384  8.262382   9.0
385  6.833813   7.8
386  6.959793   6.0
387  8.890093   9.6
388  6.897117   5.9
389  6.706008   4.3
390  5.649745   4.8
391  4.940523   3.0
392  7.099380   3.5
393  7.022336   7.0
394  7.568198   6.8
395  9.438132   8.5
396  6.593796   7.4
397  8.989134   8.7
398  8.718266   8.3
399  6.513571   4.5

[400 rows x 2 columns]

In [93]:
predictionsdf['diff'] = predictionsdf['true'] - predictionsdf[0]
predictionsdf

            0  true      diff
0    7.748667   8.0  0.251333
1    7.595313   6.3 -1.295313
2    6.933918   8.2  1.266082
3    7.731422   9.0  1.268578
4    8.361031   8.0 -0.361031
5    7.752362   6.7 -1.052362
6    6.362238   7.8  1.437762
7    7.576976   7.0 -0.576976
8    5.734731   4.0 -1.734731
9    6.545367   6.6  0.054633
10   7.293153   5.9 -1.393153
11   7.558671   5.5 -2.058671
12   8.296698   8.3  0.003302
13   6.372074   6.8  0.427926
14   6.184670   5.3 -0.884670
15   8.112843   7.0 -1.112843
16   6.585109   6.5 -0.085109
17   8.378447   6.3 -2.078447
18   7.338217   6.5 -0.838217
19   7.334435   7.0 -0.334435
20   8.069263   8.0 -0.069263
21   6.188568   7.1  0.911432
22   7.055187   7.3  0.244813
23   7.719147   7.8  0.080853
24   6.950481   6.7 -0.250481
25   8.001224   7.8 -0.201224
26   6.627136   4.5 -2.127136
27   4.858600   4.9  0.041400
28   7.065899   8.0  0.934101
29   7.955424   8.7  0.744576
..        ...   ...       ...
370  7.947733   7.0 -0.947733
371  7.324934   6.0 -1.324934
372  7.363245   8.6  1.236755
373  8.159130   8.0 -0.159130
374  5.453655   3.0 -2.453655
375  8.383873   7.8 -0.583873
376  6.328043   6.0 -0.328043
377  8.011680   8.0 -0.011680
378  8.143599   6.9 -1.243599
379  8.166933   9.3  1.133067
380  7.163102   9.0  1.836898
381  7.642081   8.0  0.357919
382  7.747969   8.5  0.752031
383  8.337423   9.5  1.162577
384  8.262382   9.0  0.737618
385  6.833813   7.8  0.966187
386  6.959793   6.0 -0.959793
387  8.890093   9.6  0.709907
388  6.897117   5.9 -0.997117
389  6.706008   4.3 -2.406008
390  5.649745   4.8 -0.849745
391  4.940523   3.0 -1.940523
392  7.099380   3.5 -3.599380
393  7.022336   7.0 -0.022336
394  7.568198   6.8 -0.768198
395  9.438132   8.5 -0.938132
396  6.593796   7.4  0.806204
397  8.989134   8.7 -0.289134
398  8.718266   8.3 -0.418266
399  6.513571   4.5 -2.013571

[400 rows x 3 columns]

In [94]:
#let's also plot histogram of scores

In [95]:
#residual plot here

In [96]:
#RMSE
predictionsdf['diff'] = predictionsdf['true'] - predictionsdf[0]
predictionsdf['diff'] = predictionsdf['diff']**2
diff = predictionsdf['diff'].values
diff = np.mean(diff)
diff = math.sqrt(diff)
diff

#diff = predictionsdf['diff'].values.tolist()
#diff = math.sqrt(np.mean(diff**2))
#diff

1.0023592115327826

In [97]:
arravg = np.mean(yarray)
predictionsdf['avg'] = arravg
predictionsdf['avgdiff'] = predictionsdf['avg'] - predictionsdf['true']
predictionsdf['avgdiff'] = predictionsdf['avgdiff']**2
avgdiff = predictionsdf['avgdiff'].values
avgdiff = np.mean(avgdiff)
avgdiff = math.sqrt(avgdiff)
avgdiff

1.4636373397131892